CONF_FILE=".mobilepasser.cfg"
CONF_PATH="/data/data/com.termux/files/home/"
BUCKET_NAME="passer1"
LOG="passer.log"


CONF_PATH="/home/rd476/"
BUCKET_NAME="passer1"
LOG="/var/log/passer.log"



CONF_PATH="/home/rd476/"
BUCKET_NAME="passer1"
LOG="/var/log/passer.log"


CONF_PATH="/home/rd476/"
BUCKET_NAME="passer1"
